<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
  <a class="navbar-brand" href="">Materia Prima</a>
  <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="item" class="nav-link"> <span>Item</span> </a>
          </li>
          <li class="nav-item">
            <a routerLink="almacen" class="nav-link"> <span>Almacen</span> </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="">Procesos</a>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>