<!-- <div class="card-body">
    <div class="list-group">
        <form (ngSubmit)="save(ufvForm.value)" #ufvForm="ngForm">
            <fieldset class="form-group">
                <label> UFV</label>
                <!-- <input class="form-control" type="number" [(ngModel)]="ufv"> -->
                <!-- <input class="form-control" [(ngModel)]="ufv.value"
               required name="value" #value>
            </fieldset>
            <button type="submit" class="btn btn-primary">Añadir</button>
            &nbsp;
            <button type="reset" class="btn btn-secondary" (click)="ufvForm.reset()">Cancelar</button>
        </form>
    </div>
  
</div> --> 
