<div class="card-body">
    <h4 class="card-title">Movimientos por Item</h4>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Detalles
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>
                <b>Descripcion:</b> {{ model.description }}</p>
            <p>
                <b>Seccion:</b> {{ model.seccion }}</p>
            <p>
                <b>Almacen:</b> {{ model.wareHouseId }}</p>
            <p>
                <b>Tipo:</b> {{ model.idtype }}</p>
            <p>
                <b>NroCuenta:</b> {{ model.nroAccount }}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Fisico</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Valorado</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Tipo</th>
            <th>Fecha</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th>Saldo</th>
            <th>P.U(neto)</th>
            <th>P.U(actual)</th>
            <th>Ufv</th>
            <th>Ingreso</th>
            <th>Egreso</th>
            <th>Saldo</th>
            <th>Saldo Actualizado</th>
            <th>Diferencia</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items; let i = index;">
                <td>{{item.type}}</td>
                <td>{{item.date}}</td>
         
                        <td>0</td>
                        <td *ngIf="item.type === 'INITIAL1';else content">{{item.priceActual}}</td>
                        <td *ngIf="item.type === 'INITIAL';else content">{{item.priceActual}}</td>
                        <ng-template #content><td>1</td></ng-template>
        </tr>
        <!-- <tr *ngFor="let item of items; let i = index;">
            <td>{{item.type}}</td>
            <td>{{item.transactionDetail.ufv.creationDate}}</td>
            <td *ngIf="item.type === 'INITIAL'"></td>
            <td *ngIf="item.type === 'INITIAL'"></td>
            <td *ngIf="item.type === 'INITIAL'">{{item.quantity | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'ENTRY'">{{item.quantity | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'ENTRY'"></td>
            <td *ngIf="item.type === 'ENTRY'">{{item.quantity + items[i-1].quantity | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'EGRESS'"></td>
            <td *ngIf="item.type === 'EGRESS'">{{item.quantity | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'EGRESS'">{{items[i-1].quantity - item.quantity | number:'1.2-2' }}</td>
            <td *ngIf="item.type === 'UPDATE'"></td>
            <td *ngIf="item.type === 'UPDATE'"></td>
            <td *ngIf="item.type === 'UPDATE'">{{item.quantity | number:'1.2-2'}}</td>
            <td>{{item.priceNeto | number:'1.2-2'}}</td>
            <td>{{item.priceActual | number:'1.2-2'}}</td>
            <td>{{item.transactionDetail.ufv.value | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'INITIAL'"></td>
            <td *ngIf="item.type === 'INITIAL'"></td>
            <td *ngIf="item.type === 'INITIAL'">{{item.quantity * item.priceActual | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'INITIAL'">{{item.quantity * item.priceNeto | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'UPDATE'"></td>
            <td *ngIf="item.type === 'UPDATE'"></td>
            <td *ngIf="item.type === 'UPDATE'"></td>
            <td *ngIf="item.type === 'UPDATE'">{{item.quantity * item.priceActual | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'ENTRY'">{{item.quantity * item.priceNeto | number:'1.2-2' }}</td>
            <td *ngIf="item.type === 'ENTRY'"></td>
            <td *ngIf="item.type === 'ENTRY'"></td>
            <td *ngIf="item.type === 'ENTRY'">{{item.quantity * item.priceNeto + items[i-1].priceActual * items[i-1].quantity | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'EGRESS'"></td>
            <td *ngIf="item.type === 'EGRESS'">{{item.quantity * item.priceActual | number:'1.2-2'}}</td>
            <td *ngIf="item.type === 'EGRESS'"></td>
            <td *ngIf="item.type === 'EGRESS'">{{items[i-1].priceActual * items[i-1].quantity - item.quantity * item.priceActual | number:'1.2-2'}}</td>
            <td>{{item.ufvValue | number:'1.2-2'}}</td>
            <td>
                <a (click)="open(content, item.id)" class="edit" title="Edit" data-toggle="tooltip">
                    <i class="fa fa-search-plus" style="cursor: -webkit-grabbing; cursor: grabbing;"></i>
                </a>
            </td>
        </tr> -->
    </tbody>
</table>